.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #ee9c4f
}

.hljs,
.hljs-subst {
    color: #444
}

.hljs-comment {
    color: #944800;
    font-style: italic;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #ba160b
}

.hljs-title,
.hljs-section {
    color: #ba160b;
    font-weight: bold
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #005400
}

.hljs-literal {
    color: #78A960
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #397300
}

.hljs-meta {
    color: #bc5000
}

.hljs-meta-string {
    color: #bc5000
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}