/*.source {
    margin-bottom: 6px;
}*/

section[hljs] {
    margin-bottom: 6px;
}

li { 
    padding-left: 16px; 
    margin-bottom: 6px;
}

li:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    /*color: blue;  Or a color you prefer */
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #024e3e;
    /*background-color: #024e3e;*/
    border-radius: 4px;
    font-weight: bold;
}

.bar.bar-stable .title {
    color: #FFFFFF;
}

.bar-stable .button.button-clear {
    color: #FFFFFF;
}

.menu  {
    width: 100%;
}

.menu .popup {
    width: 100%;
    max-height: 100%;
    height: 100%;
}


.menu .popup .popup-head{
    border: none;
    padding-bottom: 36px;
}


.menu .popup .popup-buttons{
    position: absolute;
    left: 0;
}

.menu .popup .popup-buttons button{
    background-color: transparent;
    border: none;
}

